<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  
<body>
<form method="POST" class="row g-3" style="padding-left: 4%; max-width: 600px;">
  {% csrf_token %}
  
  {{ form  }} <!--From froms.py (rendered in views.py)-->
  <div style="display: flex; justify-content: space-between; margin-left: -1%;  margin-bottom: 3%;">
      <button class="btn btn-primary" style="width: 100px;" type="submit">
          Login
      </button>
      <!-- <a class="btn btn-danger" style="" href="/delete/">Delete Account</a> -->
  </div>
</form>

<a href="/">Home</a>
</body>
</html>